<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee"  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WeiSite" version="2.5">
  <display-name>WeiSite</display-name>
  <listener>
    <listener-class>com.sunyard.servlet.InitServlet</listener-class>
  </listener>
  <listener>
    <listener-class>com.sunyard.common.SessionListener</listener-class>
  </listener>
  <servlet>
    <servlet-name>rest</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <load-on-startup>2</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>rest</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>WEB-INF/rest-servlet.xml</param-value>
  </context-param>
  <welcome-file-list>
    <welcome-file>pc/index.html</welcome-file>
  </welcome-file-list>
  	<filter>  
		<filter-name>ecsideExport</filter-name>  
		<filter-class>com.sunyard.gzip.GZipFilter</filter-class>  
	</filter>  
	<filter-mapping>  
		<filter-name>ecsideExport</filter-name>  
		<url-pattern>*.js</url-pattern>  
	</filter-mapping> 
	<filter-mapping>  
		<filter-name>ecsideExport</filter-name>  
		<url-pattern>*.css</url-pattern>  
	</filter-mapping> 
	<filter-mapping>  
		<filter-name>ecsideExport</filter-name>  
		<url-pattern>*.html</url-pattern>  
	</filter-mapping>   
</web-app>